<div class="app-container">
  <app-toolbar
    [hasData]="!!comparisonData"
    (exportAll)="onExportAll()"
    (exportDifferences)="onExportDifferences()"
    (resetData)="onResetData()">
  </app-toolbar>

  <main class="main-content">
    <app-file-upload
      *ngIf="!comparisonData"
      (filesSelected)="onFilesSelected($event)">
    </app-file-upload>

    <app-comparison-table
      *ngIf="comparisonData"
      [comparisonData]="comparisonData">
    </app-comparison-table>
  </main>
</div>
